* {
  margin: 0;
  text-align: center;
}

body {
  background: linear-gradient(
    275deg,
    rgba(252, 186, 5, 0.5),
    rgba(252, 186, 5, 0.9)
  );
}

.container {
  display: flex;
  flex-direction: column;
}

.output {
  text-align: center;
  justify-content: center;
}

form {
  margin-top: 10%;
  width: 100%;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
  width: 50%;
  padding: 1em;
  margin: 1em;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.8)
  );
  border-radius: 10px;
}
li:hover {
  background-color: rgb(245, 72, 101);
  cursor: pointer;
}

input {
  margin: 5px;
  padding: 0.5em 0em;
  border-width: 0;
  border-radius: 10px;
  font-size: 1.2rem;
}

button {
  margin: 1em;
  padding: 0.5em 1em;
  background-color: rgb(59, 198, 253);
  color: white;
  border-width: 0;
  border-radius: 10px;
  font-size: 1rem;
}
